body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
i {
  cursor: pointer;
}
#adjust {
  margin-left: 5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  #adjust {
    margin-left: 2rem;
  }
}
@media (max-width: 768px) {
  #adjust {
    margin-left: 0rem;
  }
}
